
/*  FONT    */
$baseFontFamily:Ubuntu;
$baseFontSize:18px;
$baseFontColor:rgb(24,24,24);

/*  BACKGROUND COLORS */
$smoke:whitesmoke;
// $prim:#008081;
$prim:#28d0ea;
$pink:#ff0066;
$dark:#2B2B2B;
$lemon:rgb(131,228,9);
$yellow:#fff600;
$darkBlue:#154899;
$tGreen:#19e3b1;

/* COLORS PRESETS  */

/* COLORS Buttons*/