footer{
    background-color:$dark;
    opacity: 1;
    
    display:inline-block;
    width:100%;
    padding:0;
    margin:0;
    line-height:110px;
    
    color:white;
    
    .copyright{
        text-align: left;
        font-size: 14px;
    }
    .foot_logo{
        width:182px;
        height:62px;
        // background-color:red;
        text-align: center;
        opacity: .8;
        
        margin-top:30px;
    }
    
    .social{
        // background-color:red;
        height:30px;
        
        // margin-top:50px;
        padding:0;
        i{
            margin:0 8px;
            opacity: .4;
            
            transition:all .3s ease;
            
            
            &:hover{
                opacity: 1;
            }
        }
    }
}

.footMod{
    line-height:270px !important;
    text-align: center;
}